li {
  padding: 5px;
  margin: 5px;
  background-color: seashell;
  border-radius: 10px;
}
body {
  background-color: rosybrown;
  background-size: cover;
}
.label {
  font-weight: bold;
}
.create-update-form {
  padding: 4px;
  margin: 5px;
  background: aqua;
}
.form-group {
  margin-bottom: 5px;
}
h1,
h2 {
  color: white !;
}
.burger-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
